# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/

# Configurações sensíveis
.env-local
.env.local
*.env.local
.env.*.local

# Logs
*.log

# Notebooks checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store